@model List<Cars.Models.ListCarsViewModel>

@{
    ViewData["Title"] = "Listado de Carros";
}
<div class="row">
    <div class="col-0 col-sm-0 col-md-0 col-xl-0">
    </div>
    
    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <h3>Listado de Carros</h3>
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Foto Titular</th>
                        <th scope="col">Titular</th>
                        <th scope="col">Patente</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Puertas</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row"><img src=@item.FotoUrl alt=@item.Titular class="rounded-circle" width="50" height="50"></th>
                            <td>@item.Titular</td>
                            <td>@item.Patente</td>
                            <td>@item.Marca</td>
                            <td>@item.Modelo</td>
                            <td>@item.Puertas</td>
                            <td>
                                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a type="button" class="btn btn-primary" asp-action="Index" style="float:left;" >Insertar nuevo carro</a>
        </div>
    </div>
    <div class="col-0 col-sm-0 col-md-0 col-xl-0">
    </div>
  </div>